<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>>
<head>
<meta charset="ISO-8859-1">
<title>Shopping Cart Home</title>
<link rel="stylesheet" type="text/css" href="/CSS/movie_home.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<center class="container">
    <div class="item-a"  >   
    
    <h3>
    
    shopping cart view
     </h3>
    </div>
	<div class="item-b" >
	
	<a th:href="@{http://localhost:8080/api/moviesHome}"><button type=button onclick=link >Movies</button></a>
	
	<button>Seat</button>
	<a th:href="@{http://localhost:8080/userslisttest}"><button type=button onclick=link >Watch List</button></a>
	<a th:href="@{/login}"><button type=button onclick=link >Login</button></a>
	
	<a  th:href="@{/logout}"><button type=button onclick=link>Logout</button></a>
	</div>
	<div class="item-c" >
	<!-- Shopping Cart Section -->
	</div>
	<div class="item-d">Welcome to Elena's movie theater @copy right </div>
</center>
</body>
</html>