<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Movie Form</title>
<script src="/JS/movieForm.js"></script>
<link rel="stylesheet" type="text/css" href="/CSS/MovieForm.css"/>
</head>
<body>
	<p th:text="${FormVar.id}" ></p>
	<p th:text="${FormVar.name}" ></p>
	<p th:text="${FormVar.description}" ></p>
	<form th:action="@{/GetMovie}" method="post">
	<input type="number" name="id" placeholder= "Enter MovieID e.g 12" />
	<input type="text" name="name" placeholder = "Enter Name" />
	<input type="text" name="description" placeholder = "Description" />
	<input type="submit" name="Submit" onclick="myFunction()"/>
	</form>
	
</body>
</html>